<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
         <h1>Diep demo JWT, Cookie, Api in NodeJs</h1>
         <form action="/signin" method="post" enctype="application/x-www-form-urlencoded">
            <input type="text" name="usr" placeholder="User name">
            <input type="text" name="pwd" type="password" placeholder="Password">
            <input type="submit" value="Sign In">
          </form>
    </body>
</html>